# Join All Region and Feature Transformation

In [1]:
import pandas as pd
import numpy as np

In [2]:
east = pd.read_csv('clean-data/east_coast_cities_cleaned.csv')
west = pd.read_csv('clean-data/listings_detailed_clean_west.csv')
central = pd.read_csv('clean-data/central-region-cities-cleaned.csv')

In [3]:
combined_df = pd.concat([east, west, central], ignore_index=True)

In [4]:
combined_df

,id,name,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,bedrooms,beds,amenities,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,bathrooms_text
0,827736378366911479,Legion 1BR/1BA,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,...,1.0,1.0,"[""Air conditioning"", ""Free parking on premises...",222.0,0,NaN,1,Broward County,10,NaN
1,592589963829194972,Club Wyndham Royal Vista,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,...,2.0,4.0,"[""TV"", ""Paid parking on premises"", ""Indoor fir...",500.0,0,NaN,5,Broward County,29,NaN
2,772438920837360569,Relaxing 5 Acre Ranch home with private pond!,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,...,4.0,6.0,"[""Air conditioning"", ""Free parking on premises...",500.0,2,5.00,1,Broward County,14,NaN
3,33271346,Beach Escape â€“ One Block from the Beach!,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,...,2.0,4.0,"[""TV"", ""Hair dryer"", ""Essentials"", ""Wifi"", ""Ha...",186.0,129,4.68,3,Broward County,22,NaN
4,484515,MIAMI- AMAZING APARTMENT OVER BEACH,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,...,2.0,5.0,"[""Air conditioning"", ""Hangers"", ""Free parking ...",297.0,27,4.44,6,Broward County,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,NaN,101521,Red,2010-03-31,"Chicago, IL",within a few hours,100%,75%,f,...,2.0,3.0,"[""Self check-in"", ""Dedicated workspace"", ""Oven...",86.0,51,4.35,3,Chicago,40,1 bath
185914,28749,NaN,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,...,3.0,3.0,"[""Self check-in"", ""Oven"", ""Baking sheet"", ""Fir...",157.0,169,4.67,1,Chicago,44,2 baths
185915,37738,NaN,162364,Mat And Randy,2010-07-09,"Chicago, IL",NaN,NaN,NaN,f,...,1.0,1.0,"[""Self check-in"", ""Dedicated workspace"", ""Oven...",110.0,250,4.98,2,Chicago,40,1.5 shared baths
185916,71930,NaN,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,...,1.0,1.0,"[""Laundromat nearby"", ""Dedicated workspace"", ""...",84.0,101,4.80,2,Chicago,43,1 shared bath
185917,84042,NaN,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,...,1.0,1.0,"[""Dedicated workspace"", ""Oven"", ""Baking sheet""...",89.0,124,4.86,2,Chicago,36,1 shared bath

In [5]:
combined_df.isnull().sum()

id                                     0
name                              117339
host_id                                0
host_name                             10
host_since                             0
host_location                          0
host_response_time                 37230
host_response_rate                 37230
host_acceptance_rate               31246
host_is_superhost                      0
host_listings_count                    0
host_total_listings_count              0
host_verifications                    61
host_has_profile_pic                   6
host_identity_verified                 0
neighborhood                           0
latitude                               0
longitude                              0
room_type                              0
accommodates                           0
num_bath                               0
bedrooms                               0
beds                                   0
amenities                              0
price                                  0
number_of_reviews                      0
review_scores_value                41923
calculated_host_listings_count         0
city                                   0
amenities_count                        0
bathrooms_text                     68592
dtype: int64

# Last Cleaning for Missing Values

## Host verifiacation

In [7]:
# host_verification
combined_df.loc[combined_df['host_verifications'].isnull(), ['host_verifications']]

       host_verifications
4911                  NaN
5589                  NaN
10340                 NaN
15128                 NaN
23189                 NaN
...                   ...
170101                NaN
170417                NaN
171698                NaN
171701                NaN
171724                NaN

[61 rows x 1 columns]

In [8]:
# Replace '[]' with None in 'host_verifications' column
combined_df['host_verifications'] = combined_df['host_verifications'].fillna("None")

In [9]:
combined_df.isnull().sum()

id                                     0
name                              117339
host_id                                0
host_name                             10
host_since                             0
host_location                          0
host_response_time                 37230
host_response_rate                 37230
host_acceptance_rate               31246
host_is_superhost                      0
host_listings_count                    0
host_total_listings_count              0
host_verifications                     0
host_has_profile_pic                   6
host_identity_verified                 0
neighborhood                           0
latitude                               0
longitude                              0
room_type                              0
accommodates                           0
num_bath                               0
bedrooms                               0
beds                                   0
amenities                              0
price                                  0
number_of_reviews                      0
review_scores_value                41923
calculated_host_listings_count         0
city                                   0
amenities_count                        0
bathrooms_text                     68592
dtype: int64

## Drop unneeded column

In [14]:
#drop bathrooms_text, name
combined_df.drop('bathrooms_text', axis=1, inplace=True)

In [15]:
combined_df.drop('name', axis=1, inplace=True)

In [16]:
combined_df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,num_bath,bedrooms,beds,amenities,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,1.0,1.0,1.0,"[""Air conditioning"", ""Free parking on premises...",222.0,0,NaN,1,Broward County,10
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,2.0,2.0,4.0,"[""TV"", ""Paid parking on premises"", ""Indoor fir...",500.0,0,NaN,5,Broward County,29
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,3.0,4.0,6.0,"[""Air conditioning"", ""Free parking on premises...",500.0,2,5.00,1,Broward County,14
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,2.0,2.0,4.0,"[""TV"", ""Hair dryer"", ""Essentials"", ""Wifi"", ""Ha...",186.0,129,4.68,3,Broward County,22
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,2.0,2.0,5.0,"[""Air conditioning"", ""Hangers"", ""Free parking ...",297.0,27,4.44,6,Broward County,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,"Chicago, IL",within a few hours,100%,75%,f,8.0,...,1.0,2.0,3.0,"[""Self check-in"", ""Dedicated workspace"", ""Oven...",86.0,51,4.35,3,Chicago,40
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,2.0,3.0,3.0,"[""Self check-in"", ""Oven"", ""Baking sheet"", ""Fir...",157.0,169,4.67,1,Chicago,44
185915,37738,162364,Mat And Randy,2010-07-09,"Chicago, IL",NaN,NaN,NaN,f,2.0,...,1.5,1.0,1.0,"[""Self check-in"", ""Dedicated workspace"", ""Oven...",110.0,250,4.98,2,Chicago,40
185916,71930,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,1.0,1.0,1.0,"[""Laundromat nearby"", ""Dedicated workspace"", ""...",84.0,101,4.80,2,Chicago,43
185917,84042,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,1.0,1.0,1.0,"[""Dedicated workspace"", ""Oven"", ""Baking sheet""...",89.0,124,4.86,2,Chicago,36

In [17]:
combined_df.isnull().sum()

id                                    0
host_id                               0
host_name                            10
host_since                            0
host_location                         0
host_response_time                37230
host_response_rate                37230
host_acceptance_rate              31246
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  6
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
amenities                             0
price                                 0
number_of_reviews                     0
review_scores_value               41923
calculated_host_listings_count        0
city                                  0
amenities_count                       0
dtype: int64

# host_has_profile_pic

In [18]:
na = combined_df['host_has_profile_pic'].isnull().sum()
print(f'There are {na} missing values in the "host_has_profile_pic" column.')

combined_df['host_has_profile_pic'].fillna('f', inplace=True)

There are 6 missing values in the "host_has_profile_pic" column.

In [19]:
combined_df.isnull().sum()

id                                    0
host_id                               0
host_name                            10
host_since                            0
host_location                         0
host_response_time                37230
host_response_rate                37230
host_acceptance_rate              31246
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
amenities                             0
price                                 0
number_of_reviews                     0
review_scores_value               41923
calculated_host_listings_count        0
city                                  0
amenities_count                       0
dtype: int64

In [20]:
# Save as a new csv file
combined_df.to_csv('clean-data/all_cities_combined_cleaned.csv', index=False)

# Feature Transformation

In [21]:
combined_df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,num_bath,bedrooms,beds,amenities,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,1.0,1.0,1.0,"[""Air conditioning"", ""Free parking on premises...",222.0,0,NaN,1,Broward County,10
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,2.0,2.0,4.0,"[""TV"", ""Paid parking on premises"", ""Indoor fir...",500.0,0,NaN,5,Broward County,29
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,3.0,4.0,6.0,"[""Air conditioning"", ""Free parking on premises...",500.0,2,5.00,1,Broward County,14
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,2.0,2.0,4.0,"[""TV"", ""Hair dryer"", ""Essentials"", ""Wifi"", ""Ha...",186.0,129,4.68,3,Broward County,22
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,2.0,2.0,5.0,"[""Air conditioning"", ""Hangers"", ""Free parking ...",297.0,27,4.44,6,Broward County,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,"Chicago, IL",within a few hours,100%,75%,f,8.0,...,1.0,2.0,3.0,"[""Self check-in"", ""Dedicated workspace"", ""Oven...",86.0,51,4.35,3,Chicago,40
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,2.0,3.0,3.0,"[""Self check-in"", ""Oven"", ""Baking sheet"", ""Fir...",157.0,169,4.67,1,Chicago,44
185915,37738,162364,Mat And Randy,2010-07-09,"Chicago, IL",NaN,NaN,NaN,f,2.0,...,1.5,1.0,1.0,"[""Self check-in"", ""Dedicated workspace"", ""Oven...",110.0,250,4.98,2,Chicago,40
185916,71930,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,1.0,1.0,1.0,"[""Laundromat nearby"", ""Dedicated workspace"", ""...",84.0,101,4.80,2,Chicago,43
185917,84042,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,1.0,1.0,1.0,"[""Dedicated workspace"", ""Oven"", ""Baking sheet""...",89.0,124,4.86,2,Chicago,36

# 1. neighborhood_city column

to avoid duplicated neighborhood name, for example Hollywood in FL and CA, we will make another column naemd neighborhood_city and store
- neighborhood + ',' + city
- for example, Fort Lauderdale in Broward County --> Fort Lauderdale,Broward County

In [23]:
combined_df[['city', 'neighborhood']]

                  city       neighborhood
0       Broward County    Fort Lauderdale
1       Broward County      Pompano Beach
2       Broward County  Southwest Ranches
3       Broward County      Pompano Beach
4       Broward County          Hollywood
...                ...                ...
185913         Chicago       Lincoln Park
185914         Chicago       Logan Square
185915         Chicago             Uptown
185916         Chicago          West Town
185917         Chicago          West Town

[185918 rows x 2 columns]

In [24]:
# Concatenate 'neighborhood' and 'city' columns with a comma and space, then assign to 'neighborhood_city'
combined_df['neighborhood_city'] = combined_df['neighborhood'] + ', ' + combined_df['city']

# Display the DataFrame to verify the new column
print(combined_df[['city', 'neighborhood', 'neighborhood_city']].head())

             city       neighborhood                  neighborhood_city
0  Broward County    Fort Lauderdale    Fort Lauderdale, Broward County
1  Broward County      Pompano Beach      Pompano Beach, Broward County
2  Broward County  Southwest Ranches  Southwest Ranches, Broward County
3  Broward County      Pompano Beach      Pompano Beach, Broward County
4  Broward County          Hollywood          Hollywood, Broward County

In [27]:
combined_df.head()

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,bedrooms,beds,amenities,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,1.0,1.0,"[""Air conditioning"", ""Free parking on premises...",222.0,0,NaN,1,Broward County,10,"Fort Lauderdale, Broward County"
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,2.0,4.0,"[""TV"", ""Paid parking on premises"", ""Indoor fir...",500.0,0,NaN,5,Broward County,29,"Pompano Beach, Broward County"
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,4.0,6.0,"[""Air conditioning"", ""Free parking on premises...",500.0,2,5.00,1,Broward County,14,"Southwest Ranches, Broward County"
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,2.0,4.0,"[""TV"", ""Hair dryer"", ""Essentials"", ""Wifi"", ""Ha...",186.0,129,4.68,3,Broward County,22,"Pompano Beach, Broward County"
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,2.0,5.0,"[""Air conditioning"", ""Hangers"", ""Free parking ...",297.0,27,4.44,6,Broward County,17,"Hollywood, Broward County"

In [26]:
combined_df['neighborhood_city'].unique()

array(['Fort Lauderdale, Broward County', 'Pompano Beach, Broward County',
       'Southwest Ranches, Broward County', ..., 'Forest Glen, Chicago',
       'Washington Heights, Chicago', 'East Side, Chicago'], dtype=object)

In [32]:
combined_df['neighborhood_city'].isnull().sum()

0

# full_time_host

If host_listings_count is >= 10 (tentative), then we can give them as true as full-time to mean they are more experienced/dedicated host as we can assume this is a full-time job. False if not.

In [28]:
# Create 'full_time_host' column based on 'host_listings_count'
combined_df['full_time_host'] = np.where(combined_df['host_listings_count'] >= 10, 't', 'f')

# Display the DataFrame to verify the new column
print(combined_df[['host_listings_count', 'full_time_host']].head())

   host_listings_count full_time_host
0                  1.0              f
1                  1.0              f
2                  1.0              f
3                  1.0              f
4                  1.0              f

In [29]:
combined_df['full_time_host'].unique()

array(['f', 't'], dtype=object)

In [31]:
combined_df['full_time_host'].isnull().sum()

0

# host_verification

Because of the spark data reading issue, we will change the column to be
- ['phone']--> p
- ['email'] --> e
- ['email', 'phone'] --> ep
- ['email', 'work_email'] --> ew
- ['phone', 'work_email'] --> pw
- ['email', 'phone', 'work_email'] --> epw
- ['email', 'phone', 'photographer', 'work_email'] --> eppw
- ['email', 'phone', 'photographer'] --> epp
- 'None' --> none

In [34]:
combined_df['host_verifications'].unique()

array(["['phone']", "['email', 'phone']", "['phone', 'work_email']",
       "['email', 'phone', 'work_email']", 'None', "['email']",
       "['email', 'work_email']",
       "['email', 'phone', 'photographer', 'work_email']",
       "['email', 'phone', 'photographer']"], dtype=object)

In [41]:
combined_df['host_verifications'].dtypes

dtype('O')

In [44]:
combined_df['host_verifications'].isnull().sum()

0

In [45]:
def categorize_verifications(verification_str):
    # Mapping of verification strings to codes
    verifications_to_code = {
        "['phone']": 'p',
        "['email']": 'e',
        "['email', 'phone']": 'ep',
        "['email', 'work_email']": 'ew',
        "['phone', 'work_email']": 'pw',
        "['email', 'phone', 'work_email']": 'epw',
        "['email', 'phone', 'photographer', 'work_email']": 'eppw',
        "['email', 'phone', 'photographer']": 'epp',
        'None': 'none'  # Handling the string 'None'
    }
    # Return the corresponding code or a default value if not found
    return verifications_to_code.get(verification_str, 'none')  # Using 'none' for any unmatched pattern

In [46]:
# Apply the function to the 'host_verifications' column
combined_df['host_verifications_clean'] = combined_df['host_verifications'].apply(categorize_verifications)

# Verify the result
print(combined_df[['host_verifications', 'host_verifications_clean']].head())

        host_verifications host_verifications_clean
0                ['phone']                        p
1       ['email', 'phone']                       ep
2       ['email', 'phone']                       ep
3  ['phone', 'work_email']                       pw
4       ['email', 'phone']                       ep

In [47]:
combined_df['host_verifications_clean'].isnull().sum()

0

In [48]:
combined_df['host_verifications_clean'].unique()

array(['p', 'ep', 'pw', 'epw', 'none', 'e', 'ew', 'eppw', 'epp'],
      dtype=object)

In [49]:
combined_df.head()

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,amenities,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,"[""Air conditioning"", ""Free parking on premises...",222.0,0,NaN,1,Broward County,10,"Fort Lauderdale, Broward County",f,p
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,"[""TV"", ""Paid parking on premises"", ""Indoor fir...",500.0,0,NaN,5,Broward County,29,"Pompano Beach, Broward County",f,ep
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,"[""Air conditioning"", ""Free parking on premises...",500.0,2,5.00,1,Broward County,14,"Southwest Ranches, Broward County",f,ep
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,"[""TV"", ""Hair dryer"", ""Essentials"", ""Wifi"", ""Ha...",186.0,129,4.68,3,Broward County,22,"Pompano Beach, Broward County",f,pw
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,"[""Air conditioning"", ""Hangers"", ""Free parking ...",297.0,27,4.44,6,Broward County,17,"Hollywood, Broward County",f,ep

# amenities

1. identify ex. 5 important amenities
    - Fridge, Essentials, AC, Kitchen, Wifi (treat Air Conditional as AC and etc.)

2. Make new column called essential_amenities and count (max num: 5, min: 0)

In [53]:
combined_df[['id', 'amenities']]

                        id                                          amenities
0       827736378366911479  ["Air conditioning", "Free parking on premises...
1       592589963829194972  ["TV", "Paid parking on premises", "Indoor fir...
2       772438920837360569  ["Air conditioning", "Free parking on premises...
3                 33271346  ["TV", "Hair dryer", "Essentials", "Wifi", "Ha...
4                   484515  ["Air conditioning", "Hangers", "Free parking ...
...                    ...                                                ...
185913               25879  ["Self check-in", "Dedicated workspace", "Oven...
185914               28749  ["Self check-in", "Oven", "Baking sheet", "Fir...
185915               37738  ["Self check-in", "Dedicated workspace", "Oven...
185916               71930  ["Laundromat nearby", "Dedicated workspace", "...
185917               84042  ["Dedicated workspace", "Oven", "Baking sheet"...

[185918 rows x 2 columns]

In [57]:
len(combined_df[combined_df['amenities'].str.contains('wifi', case=False, na=False)])

182531

In [58]:
len(combined_df[combined_df['amenities'].str.contains('wi-fi', case=False, na=False)])

7

In [72]:
import ast

# Adjust the essential amenities list to lowercase and include all variations
essential_amenities_normalized = {
    'fridge': ['fridge', 'refrigerator', 'mini fridge', 'mini-fridge', 'energy-efficient refrigerator'],
    'essentials': ['essentials', 'essential', 'bathroom essentials', 'bedroom essentials'],
    'ac': ['air conditioning', 'air conditioner', 'ac', 'a/c', 'central air', 'hvac', 'ac unit'],
    'kitchen': ['kitchen', 'full kitchen'],
    'wifi': ['wifi', 'wi-fi', '5g wifi', '5g wi-fi', 'fast wifi', 'fast wi-fi', 'wireless internet', 'high-speed internet']
}

def normalize_amenity(amenity):
    amenity_lower = amenity.lower()
    for normalized, variations in essential_amenities_normalized.items():
        for variation in variations:
            if variation in amenity_lower:
                return normalized
    return amenity_lower


def count_essential_amenities(amenities_str):
    try:
        # Convert the string representation of the list to an actual list
        amenities_list = ast.literal_eval(amenities_str)
        # Normalize and lowercase each amenity in the list
        normalized_amenities = [normalize_amenity(amenity) for amenity in amenities_list]
        # Count how many essential amenities are present
        count = sum(1 for essential in essential_amenities_normalized if essential in normalized_amenities)
    except ValueError:
        # In case of a ValueError, return 0
        count = 0
    return count

In [73]:
# Apply the function to each row's amenities and create the new column
combined_df['essential_amenities'] = combined_df['amenities'].apply(count_essential_amenities)

# Verify the result
print(combined_df[['amenities', 'essential_amenities']].head())

                                           amenities  essential_amenities
0  ["Air conditioning", "Free parking on premises...                    3
1  ["TV", "Paid parking on premises", "Indoor fir...                    3
2  ["Air conditioning", "Free parking on premises...                    3
3  ["TV", "Hair dryer", "Essentials", "Wifi", "Ha...                    4
4  ["Air conditioning", "Hangers", "Free parking ...                    3

In [74]:
combined_df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,"Fort Lauderdale, Broward County",f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,"Pompano Beach, Broward County",f,ep,3
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,"Southwest Ranches, Broward County",f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,"Pompano Beach, Broward County",f,pw,4
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,"Hollywood, Broward County",f,ep,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,"Chicago, IL",within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,"Lincoln Park, Chicago",f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,"Logan Square, Chicago",f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,"Chicago, IL",NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,"Uptown, Chicago",f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,"West Town, Chicago",f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,"West Town, Chicago",f,ep,5

In [75]:
combined_df['essential_amenities'].isnull().sum()

0

In [76]:
combined_df['essential_amenities'].unique()

array([3, 4, 5, 2, 0, 1])

In [77]:
combined_df['essential_amenities'].value_counts()

essential_amenities
5    116685
4     40695
3     22734
2      4075
1       977
0       752
Name: count, dtype: int64

In [78]:
#sanity check
# Filter for rows where 'essential_amenities' == 2
filtered_rows = combined_df[combined_df['essential_amenities'] == 2]

# Select the first 5 rows of the filtered DataFrame
first_5_rows = filtered_rows.head(5)

# Print the 'amenities' column for these rows to display the full list of amenities
for index, row in first_5_rows.iterrows():
    print(f"Row {index} amenities: {row['amenities']}\n")

Row 51 amenities: ["Air conditioning", "Free parking on premises", "Smoke alarm", "BBQ grill", "Carbon monoxide alarm", "Washer", "Fire pit", "Kitchen", "Private pool", "Fire extinguisher"]

Row 63 amenities: ["Patio or balcony", "Air conditioning", "Microwave", "TV", "Smoke alarm", "Pool", "Heating", "Beach access \u2013 Beachfront", "Gym", "Building staff", "Hot water", "Coffee maker", "Backyard", "First aid kit", "Refrigerator", "Iron", "Self check-in"]

Row 66 amenities: ["Air conditioning", "Pool view", "TV", "Pool", "Exercise equipment", "Hot tub", "Wifi", "Outdoor dining area"]

Row 80 amenities: ["Air conditioning", "Hangers", "Bed linens", "Free parking on premises", "TV", "Smoke alarm", "Private entrance", "Heating", "Hair dryer", "Carbon monoxide alarm", "Pool", "Elevator", "Wifi", "Gym", "Shampoo", "Shower gel", "Hot tub", "Iron"]

Row 187 amenities: ["Patio or balcony", "Air conditioning", "Hangers", "Free parking on premises", "Security cameras on property", "Pool", "Heating", "Dishes and silverware", "Essentials", "Smoking allowed"]

# final look

In [79]:
combined_df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,"Fort Lauderdale, Broward County",f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,"Pompano Beach, Broward County",f,ep,3
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,"Southwest Ranches, Broward County",f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,"Pompano Beach, Broward County",f,pw,4
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,"Hollywood, Broward County",f,ep,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,"Chicago, IL",within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,"Lincoln Park, Chicago",f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,"Logan Square, Chicago",f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,"Chicago, IL",NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,"Uptown, Chicago",f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,"West Town, Chicago",f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,"West Town, Chicago",f,ep,5

In [80]:
combined_df.isnull().sum()

id                                    0
host_id                               0
host_name                            10
host_since                            0
host_location                         0
host_response_time                37230
host_response_rate                37230
host_acceptance_rate              31246
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
amenities                             0
price                                 0
number_of_reviews                     0
review_scores_value               41923
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [81]:
# Save as a new csv file
combined_df.to_csv('clean-data/final-df-all-cols.csv', index=False)

# Deleting 'amenities' and 'host_verifications' due to spark reading in

In [82]:
combined_df.drop('amenities', axis=1, inplace=True)

In [83]:
combined_df.drop('host_verifications', axis=1, inplace=True)

In [84]:
combined_df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,"Fort Lauderdale, Broward County",f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,"Alpharetta, GA",within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,"Pompano Beach, Broward County",f,ep,3
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,"Southwest Ranches, Broward County",f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,"Fort Lauderdale, FL",within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,"Pompano Beach, Broward County",f,pw,4
4,484515,637272,Bianca,2011-05-28,"Buenos Aires, Argentina",within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,"Hollywood, Broward County",f,ep,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,"Chicago, IL",within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,"Lincoln Park, Chicago",f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,"Logan Square, Chicago",f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,"Chicago, IL",NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,"Uptown, Chicago",f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,"West Town, Chicago",f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,"Chicago, IL",within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,"West Town, Chicago",f,ep,5

In [85]:
combined_df.dtypes

id                                  int64
host_id                             int64
host_name                          object
host_since                         object
host_location                      object
host_response_time                 object
host_response_rate                 object
host_acceptance_rate               object
host_is_superhost                  object
host_listings_count               float64
host_total_listings_count         float64
host_has_profile_pic               object
host_identity_verified             object
neighborhood                       object
latitude                          float64
longitude                         float64
room_type                          object
accommodates                        int64
num_bath                          float64
bedrooms                          float64
beds                              float64
price                             float64
number_of_reviews                   int64
review_scores_value               float64
calculated_host_listings_count      int64
city                               object
amenities_count                     int64
neighborhood_city                  object
full_time_host                     object
host_verifications_clean           object
essential_amenities                 int64
dtype: object

# Replacing all "," to " " for Spark reading

In [86]:
# Replace all commas with an empty string in the entire DataFrame
combined_df = combined_df.replace(',', '', regex=True)

In [87]:
combined_df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,Fort Lauderdale Broward County,f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,Alpharetta GA,within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,Pompano Beach Broward County,f,ep,3
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,Southwest Ranches Broward County,f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,Fort Lauderdale FL,within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,Pompano Beach Broward County,f,pw,4
4,484515,637272,Bianca,2011-05-28,Buenos Aires Argentina,within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,Hollywood Broward County,f,ep,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,Chicago IL,within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,Lincoln Park Chicago,f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,Logan Square Chicago,f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,Chicago IL,NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,Uptown Chicago,f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,West Town Chicago,f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,West Town Chicago,f,ep,5

In [88]:
# Save as a new csv file
combined_df.to_csv('clean-data/final-df.csv', index=False)